.sign-out-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }

  ion-content {
    --background: none;
    background-image: url('../../../../assets/icon/fondoBlanco.png');
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }