.sign-out-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }

  ion-content{
    --background: none;
    background-image: url('../../../../assets/icon/fondoBlanco.png'); /* Ruta desde la carpeta `assets` */
    background-size: cover; /* Ajusta la imagen al tamaño completo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    

  }