<ion-content class="ion-padding-top ion-text-center">
  <ion-avatar>
    <img *ngIf="user()?.image" src="user()?.image"/>
    <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon>
  </ion-avatar>

  <ion-button class="photo-btn" (click)="takeImage()" mode="ios" size="small" shape="round">
    <ion-icon  name="camera-outline"></ion-icon>
  </ion-button>

  <h2>{{user().name}}</h2>
  <div>Trabajador</div>

  <ion-item button details>
    <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
    <ion-label>editar perfil</ion-label>
  </ion-item>

  
  <ion-item button details>
    <ion-icon color="primary" slot="start" name="dociment-outline"></ion-icon>
    <ion-label>terminos & condiciones</ion-label>
  </ion-item>

</ion-content>